<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  <nlog xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" throwExceptions="true">
    <targets>
      <target name="logfile" xsi:type="File" fileName="${basedir}/APILog/${date:format=dd-MM-yyyy}-api.log" />
      <!--<target name="eventlog" xsi:type="EventLog" layout="${message}${newline}${exception:format=ToString}" log="BilisimHRWebApi" source="bilisimHR Logger" />-->
      <!--ASPNet tracing enable olabilmesi için web.config içerisinde trace=true hale getirilmelidir. True değeri geçildiğinde diğer loglar pasife geçmektedir.-->
      <!--<target name="aspnet" xsi:type="ASPNetTrace" layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message}" />-->
      <target name="logDataBase" xsi:type="Database" keepConnection="false" useTransactions="true"
            dbProvider="Oracle.DataAccess.Client"
            connectionString="Data Source=BILISIM;User ID=IKYS_CHN;Password=IKYS_CHN"
            commandText="INSERT INTO WEB_API_LOGGER(TIME_STAMP, LOGLEVEL, LOGGER, MESSAGE, EXCEPTION, STACKTRACE, METHOD, URL, AUTH_TOKEN, IP_ADDRESS, CONTROLLER, ACTION, USER_ID, ACTION_PARAMETER)
            VALUES(TO_DATE(:TIME_STAMP, 'DD.MM.YYYY HH24\:MI\:SS'), :LOGLEVEL, :LOGGER, :MESSAGE, :EXCEPTION, :STACKTRACE, :METHOD, :URL, :AUTH_TOKEN, :IP_ADDRESS, :CONTROLLER, :ACTION, :USER_ID, :ACTION_PARAMETER)">
        <parameter name="TIME_STAMP" layout="${date:format=dd-MM-yyyy HH\:mm\:ss}" />
        <parameter name="LOGLEVEL" layout="${level:uppercase=true}" />
        <parameter name="LOGGER" layout="${logger}" />
        <parameter name="MESSAGE" layout="${message}" />
        <parameter name="EXCEPTION" layout="${exception:format=toString,Data:maxInnerExceptionLevel=10}" />
        <parameter name="STACKTRACE" layout="${stacktrace} " />
        <parameter name="METHOD" layout="${event-properties:item=METHOD}" />
        <parameter name="URL" layout="${event-properties:item=URL}" />
        <parameter name="AUTH_TOKEN" layout="${event-properties:item=AUTH_TOKEN}" />
        <parameter name="IP_ADDRESS" layout="${event-properties:item=IP_ADDRESS}" />
        <parameter name="CONTROLLER" layout="${event-properties:item=CONTROLLER}" />
        <parameter name="ACTION" layout="${event-properties:item=ACTION}" />
        <parameter name="USER_ID" layout="${event-properties:item=USER_ID}" />
        <parameter name="ACTION_PARAMETER" layout="${event-properties:item=ACTION_PARAMETER}" />
      </target>
    </targets>
    <rules>
      <logger name="*" minlevel="Trace" writeTo="logfile, logDataBase" />
    </rules>
  </nlog>
</configuration>