<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  <nlog xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" throwExceptions="true" internalLogFile="${basedir}/CoreLog/${date:format=dd-MM-yyyy}-nlog.txt" internalLogLevel="Trace" 
        internalLogToConsole="true">
    <targets>
      <target name="logfile" xsi:type="File" fileName="${basedir}/CoreLog/${date:format=dd-MM-yyyy}-api.log"/>
      <!--<target name="eventlog" xsi:type="EventLog" layout="${message}${newline}${exception:format=ToString}" log="BilisimHRWebApi" source="bilisimHR Logger" />-->
      <!--ASPNet tracing enable olabilmesi için web.config içerisinde trace=true hale getirilmelidir. True değeri geçildiğinde diğer loglar pasife geçmektedir.-->
      <!--<target name="aspnet" xsi:type="ASPNetTrace" layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message}" />-->
      <target name="logDataBase" xsi:type="Database" keepConnection="false" useTransactions="true"
            dbProvider="Oracle.DataAccess.Client"
            connectionString="Data Source=BILISIM;User ID=IKYS_CHN;Password=IKYS_CHN"
            commandText="INSERT INTO CORE_LOGGER(TIME_STAMP, LOGLEVEL, LOGGER, CLASS, METHOD, EXCEPTION, STACKTRACE, MESSAGE)
            VALUES(TO_DATE(:TIME_STAMP, 'DD.MM.YYYY HH24\:MI\:SS'), :LOGLEVEL, :LOGGER, :CLASS, :METHOD, :EXCEPTION, :STACKTRACE, :MESSAGE)">
        <parameter name="TIME_STAMP" layout="${date:format=dd-MM-yyyy HH\:mm\:ss}" />
        <parameter name="LOGLEVEL" layout="${level:uppercase=true}" />
        <parameter name="LOGGER" layout="${event-properties:item=LOGGER}" />
        <parameter name="CLASS" layout="${event-properties:item=CLASS}" />
        <parameter name="METHOD" layout="${event-properties:item=METHOD}" />
        <parameter name="EXCEPTION" layout="${exception:format=toString,Data:maxInnerExceptionLevel=10}" />
        <parameter name="STACKTRACE" layout="${stacktrace} " />
        <parameter name="MESSAGE" layout="${message}" />
      </target>
    </targets>
    <rules>
      <logger name="*" minlevel="Trace" writeTo="logfile, logDataBase" />
    </rules>
  </nlog>
</configuration>