<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <log4net>
    <appender name="AdoNetAppender" type="log4net.Appender.AdoNetAppender">
      <bufferSize value="1" />
      <connectionType value="Oracle.DataAccess.Client.OracleConnection, Oracle.DataAccess, Version=4.112.3.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
      <connectionString value="Data Source=BILISIM;User ID=IKYS_CHN;Password=IKYS_CHN" />
      <commandText value="INSERT INTO WEB_TRACER(TIME_STAMP, LOGLEVEL, LOGGER, MESSAGE, EXCEPTION, STACKTRACE, METHOD, URL, AUTH_TOKEN, IP_ADDRESS, CONTROLLER, ACTION, USER_ID, ACTION_PARAMETER)
                   VALUES (:TIME_STAMP, :LOGLEVEL, :LOGGER, :MESSAGE, :EXCEPTION, :STACKTRACE, :METHOD, :URL, :AUTH_TOKEN, :IP_ADDRESS, :CONTROLLER, :ACTION, :USER_ID, :ACTION_PARAMETER)" />
      <parameter>
        <parameterName value=":TIME_STAMP" />
        <dbType value="DateTime" />
        <layout type="log4net.Layout.RawTimeStampLayout" />
      </parameter>
      <parameter>
        <parameterName value=":LOGLEVEL" />
        <dbType value="String" />
        <size value="10" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%level" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value=":LOGGER" />
        <dbType value="String" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{LOGGER}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value=":MESSAGE" />
        <dbType value="String" />
        <size value="4000" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%m" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value=":EXCEPTION" />
        <dbType value="String" />
        <size value="4000" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%exception" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value=":STACKTRACE" />
        <dbType value="String" />
        <size value="4000" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%date [%thread] %level %logger : %message %newline%date [%thread] %level %logger : %exception{message} - %exception{source} - %exception{stacktrace} - %exception{targetsite} - %exception{helplink} - %exception{data} %newline%date [%thread] %level %logger : %stacktrace{3} %newline%date [%thread] %level %logger : %stacktracedetail{3} %newline " />
        </layout>
      </parameter>
      <parameter>
        <parameterName value=":METHOD" />
        <dbType value="String" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{METHOD}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value=":URL" />
        <dbType value="String" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{URL}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value=":AUTH_TOKEN" />
        <dbType value="String" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{AUTH_TOKEN}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value=":IP_ADDRESS" />
        <dbType value="String" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{IP_ADDRESS}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value=":CONTROLLER" />
        <dbType value="String" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{CONTROLLER}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value=":ACTION" />
        <dbType value="String" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{ACTION}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value=":USER_ID" />
        <dbType value="String" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{USER_ID}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value=":ACTION_PARAMETER" />
        <dbType value="String" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{ACTION_PARAMETER}" />
        </layout>
      </parameter>
    </appender>
    <root>
      <level value="All"/>
      <appender-ref ref="AdoNetAppender"/>
    </root>
  </log4net>
</configuration>