<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  <nlog xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" throwExceptions="true" internalLogFile="${basedir}/RequestLogger/${date:format=dd-MM-yyyy}-nlog.txt" internalLogLevel="Trace">
    <targets>
      <target name="logfileAPI" xsi:type="File" fileName="${basedir}/RequestLogger/${date:format=dd-MM-yyyy}-api.log" 
              layout="${longdate}${newline}${level:uppercase=true}${newline}${logger}${newline}${message}" />
      <!--<target name="eventlog" xsi:type="EventLog" layout="${message}${newline}${exception:format=ToString}" log="BilisimHRWebApi" source="bilisimHR Logger" />-->
      <!--ASPNet tracing enable olabilmesi için web.config içerisinde trace=true hale getirilmelidir. True değeri geçildiğinde diğer loglar pasife geçmektedir.-->
      <!--<target name="aspnet" xsi:type="ASPNetTrace" layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message}" />-->
      <target name="logDataBaseAPI" xsi:type="Database" keepConnection="false" useTransactions="true"
              dbProvider="Oracle.DataAccess.Client" connectionString="Data Source=BILISIM;User ID=IKYS_CHN;Password=IKYS_CHN"
              commandText="INSERT INTO API_LOGGER(LOG_LEVEL, TIME_STAMP, APPLICATION, USER_ID, USERNAME, MACHINE, CONTROLLER, ACTION, REQUEST_IP_ADDRESS, REQUEST_CONTENT_TYPE, REQUEST_CONTENT_BODY, REQUEST_URI, 
              REQUEST_METHOD, REQUEST_ROUTE_TEMPLATE, REQUEST_ROUTE_DATA, REQUEST_HEADERS, REQUEST_TIMESTAMP, RESPONSE_CONTENT_TYPE, RESPONSE_CONTENT_BODY, RESPONSE_STATUS_CODE, RESPONSE_HEADERS, 
              RESPONSE_TIMESTAMP, EXCEPTION, STACKTRACE, TOTAL_EXECUTION_SECONDS)
              VALUES(:LOG_LEVEL, TO_DATE(:TIME_STAMP, 'DD.MM.YYYY HH24\:MI\:SS'), :APPLICATION, :USER_ID, :USERNAME, :MACHINE, :CONTROLLER, :ACTION, :REQUEST_IP_ADDRESS, :REQUEST_CONTENT_TYPE, :REQUEST_CONTENT_BODY, 
              :REQUEST_URI, :REQUEST_METHOD, :REQUEST_ROUTE_TEMPLATE, :REQUEST_ROUTE_DATA, :REQUEST_HEADERS, TO_DATE(:REQUEST_TIMESTAMP, 'DD.MM.YYYY HH24\:MI\:SS'), :RESPONSE_CONTENT_TYPE, 
              :RESPONSE_CONTENT_BODY, :RESPONSE_STATUS_CODE, :RESPONSE_HEADERS, TO_DATE(:RESPONSE_TIMESTAMP, 'DD.MM.YYYY HH24\:MI\:SS'), :EXCEPTION, :STACKTRACE, :TOTAL_EXECUTION_SECONDS)">
        <parameter name="LOG_LEVEL" layout="${level:uppercase=true}" />
        <parameter name="TIME_STAMP" layout="${date:format=dd.MM.yyyy HH\:mm\:ss}" />
        <parameter name="APPLICATION" layout="${event-properties:item=APPLICATION}" />
        <parameter name="USER_ID" layout="${event-properties:item=USER_ID}" />
        <parameter name="USERNAME" layout="${event-properties:item=USERNAME}" />
        <parameter name="MACHINE" layout="${event-properties:item=MACHINE}" />
        <parameter name="CONTROLLER" layout="${event-properties:item=CONTROLLER}" />
        <parameter name="ACTION" layout="${event-properties:item=ACTION}" />
        <parameter name="REQUEST_IP_ADDRESS" layout="${event-properties:item=REQUEST_IP_ADDRESS}" />
        <parameter name="REQUEST_CONTENT_TYPE" layout="${event-properties:item=REQUEST_CONTENT_TYPE}" />
        <parameter name="REQUEST_CONTENT_BODY" layout="${event-properties:item=REQUEST_CONTENT_BODY}" />
        <parameter name="REQUEST_URI" layout="${event-properties:item=REQUEST_URI}" />
        <parameter name="REQUEST_METHOD" layout="${event-properties:item=REQUEST_METHOD}" />
        <parameter name="REQUEST_ROUTE_TEMPLATE" layout="${event-properties:item=REQUEST_ROUTE_TEMPLATE}" />
        <parameter name="REQUEST_ROUTE_DATA" layout="${event-properties:item=REQUEST_ROUTE_DATA}" />
        <parameter name="REQUEST_HEADERS" layout="${event-properties:item=REQUEST_HEADERS}" />
        <parameter name="REQUEST_TIMESTAMP" layout="${event-properties:item=REQUEST_TIMESTAMP}" />
        <parameter name="RESPONSE_CONTENT_TYPE" layout="${event-properties:item=RESPONSE_CONTENT_TYPE}" />
        <parameter name="RESPONSE_CONTENT_BODY" layout="${event-properties:item=RESPONSE_CONTENT_BODY}" />
        <parameter name="RESPONSE_STATUS_CODE" layout="${event-properties:item=RESPONSE_STATUS_CODE}" />
        <parameter name="RESPONSE_HEADERS" layout="${event-properties:item=RESPONSE_HEADERS}" />
        <parameter name="RESPONSE_TIMESTAMP" layout="${event-properties:item=RESPONSE_TIMESTAMP}" />
        <parameter name="EXCEPTION" layout="${exception:format=toString,Data:maxInnerExceptionLevel=3}" />
        <parameter name="STACKTRACE" layout="${stacktrace} " />
        <parameter name="TOTAL_EXECUTION_SECONDS" layout="${event-properties:item=TOTAL_EXECUTION_SECONDS}" />
      </target>
    </targets>
    <rules>
      <logger name="bilisimHR.Infrastructure.Logger.NLog.APILogger" minlevel="Trace" writeTo="logfileAPI, logDataBaseAPI" />
    </rules>
  </nlog>
</configuration>